<h1>Admin::Dashboard#show</h1>

<p> Number of Products: <%= @num_products %></p>
<p> Number of Categories: <%= @num_categories %></p>

 <%= link_to 'Product Listing', [:admin, :products], class: "btn btn-info" %>
